* {
  box-sizing: border-box;
}

body {
  /* 取消默认margin */
  margin: 0;
  min-height: 100vh;
  display: flex;
  /* 居中 */
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  font-family: Arial, "Microsoft YaHei", sans-serif;
  /* 背景 */
  background-image: url("/frontend/assets/image/background_picture.png");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/frontend/assets/image/background_picture.png) center/cover
    no-repeat;
  filter: blur(8px);
  z-index: -1;
}
/* 卡片 */
.card_header {
  text-align: center;
  margin-bottom: 28px;
}
.card_header h1 {
  margin: 0 0 8px;
  /* font-size: 30px; */
  color: #222;
  font-weight: 600;
}
.card_header p {
  margin: 0;
  color: #888;
  font-size: 14px;
}
.card {
  width: 380px;
  padding: 40px 36px;
  background: rgba(255, 255, 255, 0.75);
  /* 圆角&阴影 */
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

h1 {
  text-align: center;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}
/* 改输入框 */
input {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

input:focus {
  outline: none;
  /* 选框颜色 */
  border-color: #7fae3b;
}
/* 按钮 */
button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: linear-gradient(135deg, #34d24e, #7bcf3b);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 8px 16px rgba(102, 234, 166, 0.4);
}
button:active {
  transform: translateY(0);
}
button:disabled {
  background: #b3dc79;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

/* 提示信息 */
.message {
  min-height: 20px;
  font-size: 14px;
  text-align: center;
}
.message.error {
  color: #ff4d4f;
}
.message.success {
  color: #52c41a;
}

/* link */
.link {
  text-align: center;
  font-size: 14px;
}
.link a {
  color: #7fae3b;
  text-decoration: none;
  font-weight: 600;
}
.link a:hover {
  text-decoration: underline;
}
/* 动画 */
.card {
  animation: come 0.75s ease-out;
}
@keyframes come {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 验证码按钮 */
#sendCode{
   
}